    {# 상단 메뉴 #}
    <nav class="navbar bg-dark navbar-dark navbar-expand-sm fixed-top">
        {# 좌측 로고 #}
        <a class="navbar-brand" href="/">Energy Saver</a>
        {# 좌측 메뉴 #}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/user_data">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user_graph">전력 그래프</a>
            </li>
        </ul>
        {# 우측 메뉴 #}
        <ul class="navbar-nav ml-auto">
			{% if session['login'] and session['login'] == 'YES' %}
            <li class="nav-item">
                <a class="nav-link" href="/">정보수정</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">로그아웃</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/user_login">로그인</a>
            </li>
            {% endif %}
        </ul>
    </nav>
